@model IEnumerable<MagicMVC.Models.StoreInventory>

@{
    ViewData["Title"] = "Browse Products";
}

<h2>Browse Products</h2>

<form method="get">
    <p>
        Product Name: <input name="productName" value="@ViewData["ProductName"]" />
        Store: <select name="storeName" asp-items="ViewBag.StoreName"></select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                @Html.ActionLink("Purchase", "Purchase", new { ProductID = item.ProductID, id=item.StoreID })
            </td>
        </tr>
        }
    </tbody>
</table>
