@model IEnumerable<MagicMVC.Models.Purchase>

@{
    ViewBag.Title = "Payment Received";
}

<h2>Payment Received</h2>

<h5>Thank you for your purchase!</h5>
<br/>
<br/>
<h5>Order Number: @ViewData["orderID"]</h5>
<h5>Date: @ViewData["Date"]</h5>


<div class="form-horizontal">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PurchaseID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Store.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantityToPurchase)
                    </th>
                    <th>
                        Price per Unit
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Store.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantityToPurchase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <div class="pull-right">
        <h4>Total Price: $@ViewData["TotalPrice"] </h4>
    </div>
</div>
