@model IEnumerable<MagicMVC.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h2>Shopping Cart</h2>

<div class="form-horizontal">
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Store.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantityToPurchase)
                    </th>
                    <th>
                        Price per Unit
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityToPurchase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.PurchaseID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="btn btn-default pull-right">
            <a asp-action="Pay">Proceed to Payment</a>
        </div>
    </div>
</div>


