@model MagicMVC.Models.CreditCardForm

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style type="text/css">
        table th {
            font-weight: bold;
            font-size: 150%;
        }

        table td {
            padding-right: 50px;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>Mastercard</th>
                <th>Visa</th>
                <th>American Express</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5313313108942820</td>
                <td>4916669708683989</td>
                <td>343042451961666</td>
            </tr>
        </tbody>
    </table>
    <br />

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (MagicMVC.Utilities.CardType cardType in Enum.GetValues(typeof(MagicMVC.Utilities.CardType)))
                {
                    if (cardType == MagicMVC.Utilities.CardType.Unknown)
                    {
                        continue;
                    }

                    if (cardType == Model.CreditCardType)
                    {
                        @Html.RadioButtonFor(model => model.CreditCardType, (int)cardType, new { id = String.Empty, @checked = "checked" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.CreditCardType, (int)cardType, new { id = String.Empty })
                    }
                    <span style="margin-left: 5px;">@cardType</span>
                    <br />
                }
                @Html.ValidationMessageFor(model => model.CreditCardType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCardNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pay" class="btn btn-default" />
            </div>
        </div>
    </div>
}
